@import "frappe.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 14px;
  /* keep font readable */
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 2px 2px;
  /* smaller margins */
}

/* Workspaces */
#workspaces {
  border-radius: 0.8rem;
  margin: 2px;
  background-color: @surface0;
  margin-left: 0.6rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 0.8rem;
  padding: 0.2rem;
  /* smaller padding */
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

/* Common module styles */
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.2rem 0.5rem;
  /* lower vertical space, keep horizontal readable */
  margin: 2px 0;
  /* smaller vertical spacing */
}

/* Clock */
#clock {
  color: @blue;
  border-radius: 0 0.8rem 0.8rem 0;
  margin-right: 0.6rem;
}

/* Battery */
#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

/* Battery and backlight share no rounding */
#backlight,
#battery {
  border-radius: 0;
}

/* Pulseaudio / Volume */
#pulseaudio {
  color: @maroon;
  border-radius: 0.8rem 0 0 0.8rem;
  margin-left: 0.6rem;
}

/* Music */
#custom-music {
  color: @mauve;
  border-radius: 0.8rem;
}

/* Lock & Power */
#custom-lock {
  border-radius: 0.8rem 0 0 0.8rem;
  color: @lavender;
}

#custom-power {
  margin-right: 0.6rem;
  border-radius: 0 0.8rem 0.8rem 0;
  color: @red;
}

/* Tray */
#tray {
  margin-right: 0.6rem;
  border-radius: 0.8rem;
  padding: 0 0.4rem;
  /* smaller horizontal padding */
}
